/* Poppins Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

:root {
  --body-bg-color: #faf7fd;
  --dark-color: #4e4e4e;
  --link-color: rgb(80, 10, 141);
  --purple: #bb99dd;

  --font-poppins: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General selector for links */
.link {
  color: var(--purple);
  text-decoration: none;
  transition: all 0.3s;
}

.link:hover {
  color: var(--link-color);
}

/* Toggle button effects */
.body-after-toggle {
  background-color: var(--dark-color);
}
.link-after-toggle:hover {
  color: white;
}

/* Initial style */
body {
  color: var(--purple);
  font-family: var(--font-poppins);
  height: 100vh;
  transition: 0.5s;
  user-select: none;
  width: 100vw;
}

.container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 42em;
  margin: 0 auto;
  padding: 7px;
  padding-top: 1em;
  width: 25em;
}

.toggle-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
  justify-content: space-between;
  width: 9em;
}

.toggle-button {
  appearance: none;
  background-color: #edf3f1;
  border-radius: 50px;
  box-shadow: inset 0px 0px 16px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  height: 40px;
  position: relative;
  transition: 0.4s;
  width: 80px;
}

.toggle-button::before {
  content: "";
  background-color: #edf3f1;
  border: solid 2px var(--purple);
  border-radius: 50px;
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.25);
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  transform: scale(1.1);
  transition: 0.4s;
  width: 40px;
}

.toggle-button:checked {
  background-color: var(--body-bg-color);
  box-sizing: border-box;
}

.toggle-button:checked::before {
  box-sizing: border-box;
  left: 40px;
}

.photo {
  border: solid var(--purple) 2px;
  border-radius: 50%;
  margin-bottom: 1em;
  padding: 5px;
  width: 12em;
}

.paragraph-instagram {
  cursor: default;
  margin-bottom: 28px;
}

.project-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.project-item {
  border: solid var(--purple) 2px;
  border-radius: 6px;
  margin-bottom: 1em;
  padding: 10px;
  width: 15em;
}

.project-paragraph {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.social-media {
  align-items: center;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.social-media-list {
  padding: 15px;
}
